global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000
listen stats
        mode http
        bind 10.0.120.217:8080
        stats uri /stats
        stats realm Haproxy Statistics
        stats auth admin:123456
        stats admin if TRUE
frontend  http-in
	bind *:80
	mode http
        log global
    	option httpclose
	option forwardfor except 127.0.0.1/8
        option logasap
        option dontlognull
    	default_backend   app
backend app
    balance     roundrobin
	option forwardfor header X-Client
    server  server1 127.0.0.1:9800 check

